<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página principal</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/resources/css/admin-styles.css">
  <link rel="stylesheet" href="/resources/css/responsive.css">

</head>
<body>
  <header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="/index">
					<img src="/resources/images/logo.png" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="/admin/homepage">Inicio</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Personalizar</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Mi cuenta</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Cerrar sesión</a></li>
					
					</ul>
				</div>
			</div>
		</nav>
	</header>

  <div class="container">
    <form class="products-form">
      <div class="form-title">
        <h5>Añadir productos</h5>
      </div>
      <div class="row mb-3 col-md-6">
        <label for="input1" class="col-sm-2 col-form-label">Título</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="input1">
        </div>
      </div>
      <div class="row mb-3 col-md-6">
        <label for="input2" class="col-sm-2 col-form-label">Descripción</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="input2" rows="2"></textarea>
        </div>
      </div>
      <div class="row mb-3 col-md-6">
        <label for="input3" class="col-sm-2 col-form-label">Precio</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="input3">
        </div>
      </div>
      <div class="row mb-3 col-md-6">
        <label for="input4" class="col-sm-2 col-form-label">Imagen</label>
        <div class="col-sm-10">
          <input type="file" class="form-control" id="input4">
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary">Añadir</button>
    </form>
  </div>

  <!-- ALL JS FILES -->
	<script src="/resources/js/jquery-3.2.1.min.js"></script>
	<script src="/resources/js/popper.min.js"></script>
	<script src="/resources/js/bootstrap.min.js"></script>
  <script src="/resources/js/baguetteBox.min.js"></script>

</body>
</html>